.App {
  font-family: sans-serif;
  text-align: center;
}
.viacontainer{
  display: flex;
  margin:0 auto;
  width: 70%;
  /* flex-direction: row;
  width:50%;
  margin:0 auto;
  gap:20px; */

}
.viacontainer input{
  text-align: center;
}
.between{
  background-color: blue;
}
.viacontainer button{
  background-color:red;
  margin-bottom: 20px;
}